


.exp-section{
    width: 40%;
    border: 1px solid black;
}



@media (max-width:769px){
    .exp-section{
        width: 100%;
    }
}

.box-container {
  height: 290px;
  margin-top: 8px;
  background-color: white;
  border-radius: 20px;
  padding: 8px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
